
{% extends 'master.html' %}
{% block title%}hello{% endblock %}

{% block body %}
    <section class="home">

    <div class="slides-container">

        <div class="slide active">
            <div class="content">
                <span>fresh and organic</span>
                <h3>upto 50% off</h3>
                <a href="{% url 'shop' %}" class="btn">shop now</a>
            </div>
            <div class="image">
                <img src="/static/images/home-img-1.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>fresh and organic</span>
                <h3>upto 50% off</h3>
                <a href="{% url 'shop' %}" class="btn">shop now</a>
            </div>
            <div class="image">
                <img src="/static/images/home-img-2.png" alt="">
            </div>
        </div>

        <div class="slide">
            <div class="content">
                <span>fresh and organic</span>
                <h3>upto 50% off</h3>
                <a href="{% url 'shop' %}" class="btn">shop now</a>
            </div>
            <div class="image">
                <img src="/static/images/home-img-3.png" alt="">
            </div>
        </div>

    </div>

    <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
    <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>

    </section>

<section class="banner-container">

    <div class="banner">
        <img src="/static/images/banner-1.jpg" alt="">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="{% url 'shop' %}" class="btn">shop now</a>
        </div>
    </div>

    <div class="banner">
        <img src="/static/images/banner-2.jpg" alt="">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="{% url 'shop' %}" class="btn">shop now</a>
        </div>
    </div>

    <div class="banner">
        <img src="/static/images/banner-3.jpg" alt="">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>

</section>



{% endblock %}